/******** Variables *********/

$bgColor: whitesmoke;
$fontColor: black;
$secColor: #007bff;

/******** General Styles *******/

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html{
    font-family: sans-serif;
}

body{
    width: 100%;
    background-color: $bgColor ;
    
}

/********* Headers **********/

h1 {
    color: $secColor;
}

h2, h3{
    color: $fontColor;
}

/********** Grid ***********/

.container > div {
    padding-top: 50px;
}

/*********** Button **********/

#button-section{
    text-align: center;
    margin-top:5%;
}

.button-resume{
    padding: 10px 15px;
    background-color: $secColor;
    border-radius: 5%;
}

.link{
    color: white;
    text-decoration: none;
}

.link:hover{
    color: blue;
    text-decoration: none;
}

/*********** Image *********/

.myimg{
    text-align: center;
}

.img{
    border-radius: 50%;
    width: 30%;
}

/*********** Table *********/

table{
    width: 100%;
}

td{
    padding: 20px;
    text-align: center;
    img{
        width: 100px;
    }
}
/********** List ************/

.col ul li{
        padding: 5px;
        margin-top: 5px;
        margin-left: 30px;
}



/********** Footer **********/ 

footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    color: grey;
    text-align: center;
    padding-bottom: 15px;
}